@import url(03-generic/reset.css);


* {
    box-sizing: border-box;
}
body {
    background-color:black;
    font-family: "Roboto Condensed" , sans-serif;

}
.layout-box {
    max-inline-size: 1280px;
    margin-inline: auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    block-size: 90px;

}
.header .nav ul {
    display: flex;
    align-items: center;
}
.header .nav ul.menu {
    display: flex;
    align-items: center;
    gap: 25px;
    color:white;

}
.header .menu .item{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding-block-end: 5px;
}
.header .nav ul.social {
    cursor: pointer;
    border-bottom: 2px solid #e0011a;
}
.header .nav ul.social {
    gap: 15px;
}

.header .tools {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header .menu .separator {
    font-size: 15px;
}
.header .separator {
    font-size: 25px;
    color: #737373;
}
.header svg {
    fill: white;
    inline-size: 18px;
    block-size: 18px;
}